
header
  color: var(--primary-theme)
  padding: 1em
  position: relative
  user-select: none

  h1, h2
    margin: 0

  h1
    font-size: 1.5em
    opacity: .9

  h2
    font-size: .8em
    margin-top: .5em
    opacity: .7

  .action
    font-size: .7em
    position: absolute
    right: 1em
    top: 1em
