<div class="todo-list">
  <todo-header [count]="todos.length" [completed]="completedCount">
    <button (click)="deleteCompleted()" [disabled]="completedCount === 0">
      Delete Completed
    </button>
  </todo-header>

  <todo-search [(value)]="searchKey"></todo-search>

  <div class="items">
    <todo-item
      *ngFor="let todo of filteredTodos"
      [todo]="todo"
      (onDelete)="deleteTask($event)"
      (onToggle)="taskToggled($event)"
    ></todo-item>
  </div>

  <todo-add (onAdd)="onAdd($event)"></todo-add>
</div>
