.todo-list
  background-color: var(--secondary-theme)
  border: solid 3px var(--primary)
  border-radius: var(--radius)
  display: flex
  flex-direction: column
  margin: 1em auto
  height: calc(100vh - 2em)
  overflow: hidden
  position: relative
  width: clamp(400px, 40vw, 80vw)

  > .items
    overflow: auto
    flex: 1
