/* You can add global styles to this file, and also import other style files */
*
  box-sizing: border-box

:root
  --primary-theme: #fff
  --secondary-theme: #eee
  --tertiary-theme: #dfdfdf

  --radius: 4px

body
  font-family: sans-serif
  margin: 0
